/vendor/
/node_modules/

.env
.env.*

/public/build
/public/hot
/public/assets/

*.sqlite*
/database/database.sqlite

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*

.phpunit.result.cache
.pint.cache

.idea/
.vscode/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*